*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(screen-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    background-position: center center;
}
.container{
    display: block;
    position: relative;
    

}
.container .form1{
    display: block;
    position: relative;
    width: 30%;
    margin: 10% auto;
    padding: 5px;
    border: none;
    border-radius: 6px;
    background-color: rgba(17, 16, 16, 0.842);

}
.heda h2{
    display: block;
    position: relative;
    text-align: center;
    color: rgb(67, 67, 201);
    padding: 5px;
    margin-top: 5px;
}
.msg{
    color: rgb(231, 16, 16);
    font-weight: lighter;
    display: none;
}
.container input[type=text]{
    display: block;
    position: relative;
    width: 70%;
    font-size: 15px;
    padding: 8px;
    margin: 6px auto;
    border-radius: 5px;
}
.container input[type=password]{
    display: block;
    position: relative;
    font-size: 15px;
    width: 70%;
    padding: 8px;
    margin: 6px auto;
    border-radius: 5px;
}
.container label{
    display: block;
    position: relative;
    margin-left: 50px;
    color: aqua;
}
.container input[type=submit]{
    display: block;
    position: relative;
    width: 70%;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    margin: 6px auto;
    box-sizing: border-box;
    border-radius: 5px; 
    color: white;
    background-color: rgb(56, 56, 206);
    border: 0;
}
.container input[type=submit]:hover{
    background-color: blue;
}

@media screen and (min-width: 300px){
    .container .form1{
        width: 50%;
    }
}
